<div class="card" style="margin-bottom: 10px">
  <div class="card-body">
    <div class="card bg-light p-3">
      <h1>Apenas uma tela de home, que no futuro sera alterada.</h1>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Result</h5>
    <div class="card bg-light p-3">
      <formio (submit)="onSubmit($event)" [form]="form" [submission]="submission"></formio>
    </div>
  </div>
  <button class="btn btn-outline-secondary btn-sm form-btn form-btn-use" (click)="preecherRespostas($event, form, 'view')"><span class="fa fa-list-alt"></span> Preecher Respostas Formulário</button>&nbsp;
  <div class="card mt-2 mb-2" *ngFor="let version of respostasList ">
    <li class="text-center m-2">Versão: {{version.version}}</li>
    <ul>
      <li *ngFor="let resposta of version.data ">
        {{resposta | json }}
      </li>
    </ul>
  </div>
</div>
